.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 2fr 0.75fr 0.2fr;
  grid-template-areas: 
  "nav nav"
  "img sign-in-up"
  "features sign-in-up"
  "footer footer";
  grid-gap: 1rem;
  font-family: 'DM Serif Display', serif;
  padding-bottom: 1rem;
  min-height: 800px;
}

.con-settings {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 2fr 0.2fr;
  grid-template-areas: 
  "nav nav"
  "pers-data def-sett"
  "footer footer";
  grid-gap: 1rem;
  font-family: 'DM Serif Display', serif;
  padding-bottom: 1rem;
  min-height: 600px;
}

.con-add-income {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 2fr 0.2fr;
  grid-template-areas: 
  "nav nav"
  "income-main comparison-inc"
  "footer footer";
  grid-gap: 1rem;
  font-family: 'DM Serif Display', serif;
  padding-bottom: 1rem;
  min-height: 600px;
}

.con-add-expense {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 2fr 0.2fr;
  grid-template-areas: 
  "nav"
  "expense-main"
  "footer";
  grid-gap: 1rem;
  font-family: 'DM Serif Display', serif;
  padding-bottom: 1rem;
  min-height: 600px;
}

.con-review {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.25fr 1fr 0.5fr 0.5fr 0.2fr;
  grid-template-areas: 
  "nav nav nav"
  "select-period select-period select-period"
  "inc-top3 comparison-inc comparison-exp"
  "exp-top3 comparison-inc comparison-exp"
  "exp-top3 balance balance"
  "footer footer footer"
  ;
  grid-gap: 1rem;
  font-family: 'DM Serif Display', serif;
  padding-bottom: 1rem;
}

.container >* {
  border-radius: 1rem;
}

#select-period {
  grid-area: select-period;
  display: flex;
  background-color: #F3F5F7;
  align-items: center;
  padding-right: 1rem;
  justify-content: center;
}

#inc-top3 {
  display: flex;
  background-color: #C7F2A4;
  grid-area: inc-top3;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
  justify-content: space-evenly;
  font-size: 12px;
}

#exp-top3 {
  display: flex;
  background-color: #FFF3E2;
  grid-area: exp-top3;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  font-size: 12px;
}

.table-main {
  width: 100%;
  height: 100%;
  max-width: 440px;
  max-height: 350px;
  min-height: 200px;
  display: inline-block;
  padding-left: 0;
  overflow-x: auto;
  border-spacing: 10px;
}

#comparison-inc {
  display: flex;
  background-color: #F3F5F7;
  grid-area: comparison-inc;
  font-size: 12px;
  padding-top: 1rem;
  justify-content: center;
  min-height: 500px;
}

#comparison-exp {
  display: flex;
  background-color: #F3F5F7;
  grid-area: comparison-exp;
  font-size: 12px;
  padding-top: 1rem;
  justify-content: center;
}

#balance {
  display: flex;
  background-color: #F3F5F7;
  grid-area: balance;
}


#img {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  background-color: #F3F5F7;
  grid-area: img;
}

nav{
  background-color: white;
  grid-area: nav;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 10px;
}

#sign-in-up {
  background-color: #F3F5F7;
  grid-area: sign-in-up;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;;

}

#features {
  grid-area: features;
  background-color: #F3F5F7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.feature-img {
  margin-top: -10px;
  margin-bottom: 5px;
  height: 40px;
  }

.feature-col {
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sum {
  display: flex;
  font-size: 20px;
  text-align: center;
  flex-direction:column-reverse;
}

footer {
  background-color: #F3F5F7;
  grid-area: footer;
}

#edit-personal-data {
  grid-area: pers-data;
  background-color: #F3F5F7;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 1rem;
  }


#edit-default-settings {
  grid-area: def-sett;
  background-color: #F3F5F7;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 1rem;
}

.input-group {
  min-width: 330px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

#add-income-main-content {
  background-color: #F3F5F7;
  display: flex;
  grid-area: income-main;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

#add-expense-main-content {
  background-color: #F3F5F7;
  display: flex;
  grid-area: expense-main;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

#balance {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #C7F2A4;
}

.active-button {
  background-color: #F3F5F7;
  border-radius: 1rem;
}

.form-check {
  padding-left: 5rem;
}


@media only screen and (max-width:1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.5fr 1fr 0.4fr 0.2fr;
    grid-template-areas: 
    "nav"
    "img"
    "sign-in-up"
    "features"
    "footer";
    justify-content: center;
    padding-bottom: 1rem;
  }

  .con-settings {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 2fr 2fr 0.15fr;
    grid-template-areas: 
    "nav"
    "pers-data"
    "def-sett"
    "footer";
    justify-content: center;
    padding-bottom: 1rem;
  }

  .con-add-income {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 2fr 0.15fr;
    grid-template-areas: 
    "nav"
    "income-main"
    "footer";
    padding-bottom: 1rem;
  }

  .con-add-expense {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 2fr 0.15fr;
    grid-template-areas: 
    "nav"
    "expense-main"
    "footer";
    padding-bottom: 1rem;
  }

  #sign-in-up {
    padding: 10%;
    align-items:stretch;
  }

  footer {
    margin-bottom: 1rem;
  }

  #features {
    padding-top: 1rem;
  }

  .form-check {
    padding-left: 5rem;
  }

}

@media only screen and (max-width: 768px) {
  .container {
    padding-bottom: 1rem;
    scale: 0.75;
    min-width: 300px;
  }

  #add-income-main-content {
    padding-bottom: 20px;
  }

  .add-expense-main-content {
    padding-bottom: 20px;
  }

  .form-check {
    padding-left: 5rem;
  }

  nav {
    margin-top: -60px;
  }
  
  #img-wave {
    width: 240px;
    height: 108px;
  }

  #img-nest {
    width: 240px;
    height: 108px;
  }

  .feature-col {
    padding-top: 5px;
  }

  #features {
    padding: 5px;
  }
  
  #sign-in-up {
    align-items: stretch;
  }

  .input-group {
    max-width: 200px;
    padding: 1rem;
  }

}
