.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 2fr 0.75fr 0.4fr;
  grid-template-areas: 
  "nav nav"
  "img sign-in-up"
  "features sign-in-up"
  "footer footer";
  grid-gap: 1rem;
  font-family: 'DM Serif Display', serif;
  padding-bottom: 1rem;
  min-height: 800px;
}

.con-settings {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 2fr 0.1fr;
  grid-template-areas: 
  "nav nav"
  "pers-data def-sett"
  "footer footer";
  grid-gap: 1rem;
  font-family: 'DM Serif Display', serif;
  padding-bottom: 1rem;
  min-height: 500px;
}

.container >* {
  border-radius: 1rem;
}

#img {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  background-color: #F3F5F7;
  grid-area: img;
}

nav{
  background-color: white;
  grid-area: nav;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 10px;
}

#sign-in-up {
  background-color: #F3F5F7;
  grid-area: sign-in-up;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;;

}

#features {
  grid-area: features;
  background-color: #F3F5F7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.feature-img {
  margin-top: -10px;
  margin-bottom: 5px;
  height: 40px;
  }

.feature-col {
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #F3F5F7;
  grid-area: footer;
}

#edit-personal-data {
  grid-area: pers-data;
  background-color: #F3F5F7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#edit-default-settings {
  grid-area: def-sett;
  background-color: #F3F5F7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width:1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.5fr 1fr 0.4fr 0.2fr;
    grid-template-areas: 
    "nav"
    "img"
    "sign-in-up"
    "features"
    "footer";
    justify-content: center;
    padding-bottom: 1rem;
  }

  .con-settings {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 2fr 2fr 0.15fr;
    grid-template-areas: 
    "nav"
    "pers-data"
    "def-sett"
    "footer";
    justify-content: center;
    padding-bottom: 1rem;
  }

  #sign-in-up {
    padding: 10%;
    align-items:stretch;
  }

  footer {
    margin-bottom: 1rem;
  }

  #features {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-bottom: 1rem;
  }
  
  #img-wave {
    width: 240px;
    height: 108px;
  }

  #img-nest {
    width: 240px;
    height: 108px;
  }

  .feature-col {
    padding-top: 5px;
  }

  #features {
    padding: 5px;
  }
  
  #sign-in-up {
    align-items: stretch;
  }
}
