.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 2fr 0.75fr 0.4fr;
  grid-template-areas: 
  "nav nav"
  "img sign-up"
  "features sign-up"
  "footer footer";
  grid-gap: 1rem;
  font-family: 'DM Serif Display', serif;
}

.container >* {
  border-radius: 1rem;
}

#img {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}

nav{
  background-color: white;
  grid-area: nav;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 10px;
}

#img {
  background-color: #F3F5F7;
  grid-area: img;
}

#sign-up {
  background-color: #F3F5F7;
  grid-area: sign-up;
}

#features {
  background-color: #F3F5F7;
  grid-area: features;
}

footer {
  background-color: #F3F5F7;
  grid-area: footer;
}

@media only screen and (max-width:1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.5fr 1fr 0.4fr 0.2fr;
    grid-template-areas: 
    "nav"
    "img"
    "sign-up"
    "features"
    "footer";
    justify-content: center;
  }
}